<% if Koin::Persistence.access_token.nil? %>
<a class='btn btn-primary btn-lg btn-block' href="/auth/facebook">Login</a>
<% else %>
<a class='btn btn-warning btn-lg btn-block' href="/clear">Clear</a>
<% end %>
